<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614218022899-o7l48cmgigm44bvp73ivj3m3jtbrba8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614218022899-o7l48cmgigm44bvp73ivj3m3jtbrba8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAt1bPM3Qt0sfWcHBd3-8liS8CaB1ejlGM</string>
	<key>GCM_SENDER_ID</key>
	<string>614218022899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myntraClone</string>
	<key>PROJECT_ID</key>
	<string>myntraclone-97146</string>
	<key>STORAGE_BUCKET</key>
	<string>myntraclone-97146.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614218022899:ios:0f9c1307694d5ff35a9c86</string>
</dict>
</plist>